@use '../../../scss/main' as main;

.title {
  &_image {
    max-height: 70px !important;
    max-width: 100%;
    transform: scale(100%);

    img {
      max-height: 70px;
      width: auto;
      height: auto;
      object-fit: contain;
    }

    &_flipped {
      transform: scaleX(-100%);
    }
  }

  &_text {
    font-family: main.$type-title-font;
    color: rgba(white, 0.90);
    font-weight: 550;
  }
}