$title-font: Carlito, "Open Sauce Sans", sans-serif;
$subtitle-font: "Open Sauce Sans", Carlito, sans-serif;
$normal-text-font: "Inter Tight", Inter, sans-serif;
$cursive-font: "Pinyon Script", serif;