@use '../../../scss/main' as main;

.subtitle {
  &_image {
    max-height: 50px;
  }

  &_text {
    font-family: main.$type-subtitle-font;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;

    @include main.abstracts-respond(md) {
      margin-top: 0;
      font-size: 3rem;
    }
  }
}