@use '../../../scss/main.css' as main;

.honeycomb {
  max-width: 100%;
  aspect-ratio: 1;
  overflow: hidden;

  &_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: url(#honeycomb-mask);
  }
}